<%- include("../../views/partials/admin/header") %>
<link rel="stylesheet" href="/css/admin/coupon.css">
    <section class="content-main" onload="setDefaultStartDate()">
        <div class="content-header">
            <h2 class="content-title card-title">Coupons</h2>
        </div>
        <div class="card">
            <div class="card-body">
                <!-- Coupon Creation Form -->
                <div class="card">
                    <div class="card-body">
                        <!-- Coupon Creation Form -->
                        <div class="form-container">
                            <form method="post" action="/admin/createcoupon" onsubmit="return handleFormSubmit(event)">
                                <h3 class="text-center">Add Coupon</h3>

                                <div class="mb-4">
                                    <label for="coupon-name" class="form-label">Coupon Name</label>
                                    <input type="text" id="coupon-name" name="couponName"
                                        placeholder="Enter coupon name" class="form-control" required />
                                </div>

                                <div>
                                    <label for="startingDate" class="form-label">Start Date</label>
                                    <input type="date" name="startDate" class="form-control" id="startingDate"
                                        required />
                                </div>

                                <div>
                                    <label for="expiringDate" class="form-label">End Date</label>
                                    <input type="date" name="endDate" class="form-control" id="expiringDate" required />
                                </div>

                                <div>
                                    <label for="discountType" class="form-label">Discount Type</label>
                                    <select name="discountType" id="discountType" class="form-control" required>
                                        <option value="Fixed">Fixed Amount</option>
                                        <option value="Percentage">Percentage</option>
                                    </select>
                                </div>

                                <div>
                                    <label for="offer-price" class="form-label">Discount Value</label>
                                    <input type="number" name="offerPrice" placeholder="Enter discount value"
                                        class="form-control"  id="offer-price" required />
                                </div>

                                <div id="max-discount-container" style="display:none;">
                                    <label for="max-discount" class="form-label">Max Discount Amount</label>
                                    <input type="number" name="maxDiscountAmount"
                                        placeholder="Enter max discount amount" class="form-control"
                                        id="max-discount" />
                                </div>

                                <div>
                                    <label for="minimum-price" class="form-label">Minimum Price</label>
                                    <input type="number" name="minimumPrice" placeholder="Enter minimum price"
                                        class="form-control" min="0" required />
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-primary" type="submit">Add Coupon</button>
                                </div>
                            </form>
                        </div>


                        <!-- Coupon Listing Table -->
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Created On</th>
                                        <th>Expire On</th>
                                        <th>Discount Type</th>
                                        <th>Discount Value</th>
                                        <th>Minimum Price</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (coupons && coupons.length> 0) { %>
                                        <% coupons.forEach((coupon)=> { %>
                                            <tr>
                                                <td>
                                                    <%= coupon.name %>
                                                </td>
                                                <td>
                                                    <%= new Date(coupon.createdOn).toLocaleDateString('en-US') %>
                                                </td>
                                                <td>
                                                    <%= new Date(coupon.expireOn).toLocaleDateString('en-US') %>
                                                </td>
                                                <td>
                                                    <%= coupon.discountType %>
                                                </td>
                                                <td>
                                                    <%= coupon.discountType==="Percentage" ? coupon.offerPrice + "%"
                                                        : "₹" + coupon.offerPrice %>
                                                </td>
                                                <td>₹<%= coupon.minimumPrice %>
                                                </td>
                                                <td>
                                                    <span
                                                        class="badge <%= coupon.isList ? 'alert-success' : 'alert-danger' %>">
                                                        <%= coupon.isList ? 'Listed' : 'Unlisted' %>
                                                    </span>
                                                </td>
                                                <td class="actions-btn">
                                                    <a href="/admin/editCoupon?id=<%= coupon._id %>"
                                                        class="btn btn-primary">Edit</a>
                                                    <a href="#" onclick="confirmDelete('<%= coupon._id %>')"
                                                        class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <% } else { %>
                                                    <tr>
                                                        <td colspan="8" class="text-center">No coupons available.</td>
                                                    </tr>
                                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="pagination-container">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center mb-20">
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
                                        <a class="page-link" href="?page=<%= i %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } %>
                            </ul>
                        </nav>
                    </div>
                </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/admin/coupon.js"></script>




    <%- include("../../views/partials/admin/footer") %>