<%- include("../../views/partials/admin/header") %>
<link rel="stylesheet" href="/css/admin/editcoupon.css">
<section class="content-main">
 <div class="content-header">
   <div>
     <h2 class="content-title card-title">Coupons-Edit</h2>
   </div>
 </div>
 <div class="card">
   <div class="card-body">
     <div class="row">
       <div class="col-md-3">
         <form id="coupon-form" method="post" action="">
           <body onload="setDefaultStartDate(),setDefaultendDate()"></body>
           <input type="hidden" id="coupon-id" value="<%= findCoupon._id %>" />
           <div class="mb-4">
             <label for="coupon-name" class="form-label">Coupon Name</label>
             <input
               type="text"
               id="coupon-name"
               value="<%=findCoupon.name%>"
               name="couponName"
               placeholder="Type here"
               class="form-control"
             />
             <div id="error-coupon-name" class="error-message"></div>
           </div>


           <div>
             <label for="startingDate" class="form-label">Start Date</label>
             <input
               type="date"
               name="startDate"
               class="form-control"
               required="true"
               id="startingDate"
             />
             <div id="error-start-date" class="error-message"></div>
           </div>


           <div>
             <label for="expiringDate" class="form-label">End Date</label>
             <input
               type="date"
               name="endDate"
               class="form-control"
               id="expiringDate"
               required="true"
             />
             <div id="error-end-date" class="error-message"></div>
           </div>


           <div>
             <label for="offer-price" class="form-label">Offer Price</label>
             <input
               type="text"
               id="offer-price"
               name="offerPrice"
               placeholder="Type here"
               class="form-control"
               value="<%=findCoupon.offerPrice%>"
             />
             <div id="error-offer-price" class="error-message"></div>
           </div>


           <div>
             <label for="minimum-price" class="form-label">Minimum Price</label>
             <input
               type="text"
               name="minimumPrice"
               id="minimum-price"
               placeholder="Type here"
               class="form-control"
               value="<%=findCoupon.minimumPrice%>"
             />
             <div id="error-minimum-price" class="error-message"></div>
           </div>
           <div class="d-grid">
             <button  type="submit" class="btn btn-primary mt-20">Update Coupon</button>
           </div>
           <div id="err-msg" class="error-message"></div>
         </form>
       </div>
     </div>
   </div>
 </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/admin/editcoupon.js"></script>
<%- include("../../views/partials/admin/footer") %>





