<%- include("../../views/partials/admin/header") %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-60">
            <form id="editCategoryForm" onsubmit="return validateForm()" method="post" action="/admin/editCategory/<%= category._id %>">
                <div class="mb-4 mt-30">
                    <label for="product_name" class="form-label">Name</label>
                    <input type="text" id="product_name" name="name" value="<%= category.name %>" class="form-control border" />
                    <div id="name-error" class="error-message text-danger" style="display:none;"></div>
                </div>

                <div class="mb-4">
                    <label class="form-label">Description</label>
                    <textarea id="descriptionId" name="description" class="form-control border"><%= category.description %></textarea>
                    <div id="description-error" class="error-message text-danger" style="display:none;"></div>
                </div>

                <div class="d-grid text-end mt-30 col-md-5">
                    <button class="btn btn-primary" type="submit">Update category</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("../../views/partials/admin/footer") %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/admin/category.js"></script>