<%- include("../partials/user/header") %>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
        <link rel="stylesheet"
        href="/css/user/checkout.css">
    <form id="orderForm" action="/checkout/place-order" method="POST">
        <div class="untree_co-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <h2 class="h3 mb-3 text-black">Billing Details</h2>
                        <div class="p-3 p-lg-5 border bg-white">
                            <!-- Existing Address Selection -->
                            <div class="form-group">
                                <label for="c_select_address" class="text-black">Select Existing Address</label>
                                <div class="d-flex align-items-center">
                                    <select id="c_select_address" name="c_select_address" class="form-control me-2">
                                        <option value="">Select an address</option>
                                        <% addresses.forEach(function(address) { %>
                                            <% address.address.forEach(function(addr) { %>
                                                <option value="<%= address._id %>">
                                                    <%= addr.addressDetail %>, <%= addr.city %>, <%= addr.state %> - <%=
                                                                    addr.pincode %>
                                                </option>
                                                <% }) %>
                                                    <% }) %>
                                    </select>
                                    <a href="#" id="edit-address-link" class="btn-small"
                                        onclick="handleEditClick(event)">Edit</a>
                                    <span><a href="#" id="add-address-link" class="btn-small"
                                            onclick="openAddAddressPopup()">Add</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-12">
                            <h2 class="h3 mb-3 text-black">Your Order</h2>
                            <div class="p-3 p-lg-5 border bg-white">
                                <table class="table site-block-order-table mb-5">
                                    <thead>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </thead>
                                    <tbody>
                                        <% cartItems.forEach(item=> { %>
                                            <tr>
                                                <td>
                                                    <%= item.productId.productName %> <strong class="mx-2">x</strong>
                                                        <%= item.quantity %>
                                                </td>
                                                <td>₹<%= (item.price * item.quantity).toFixed(2) %>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <tr>
                                                    <td class="text-black font-weight-bold"><strong>Cart
                                                            Subtotal</strong></td>
                                                    <td class="text-black">₹<%= subtotal.toFixed(2) %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-black font-weight-bold"><strong>Discount</strong>
                                                    </td>
                                                    <td class="text-black font-weight-bold">
                                                        <strong>₹ <%= couponDetails ? couponDetails.discount.toFixed(2)
                                                                : '0.00' %></strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-black font-weight-bold"><strong>Shipping</strong>
                                                    </td>
                                                    <td class="text-black">
                                                        <p>
                                                            <% if (shippingCharge===0) { %>
                                                                <span style="color: green;">Free</span>
                                                                <% } else { %>
                                                                    ₹<%= shippingCharge.toFixed(2) %>
                                                                        <% } %>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-black font-weight-bold"><strong>Order Total</strong>
                                                    </td>
                                                    <td class="text-black">₹<%= total.toFixed(2) %>
                                                    </td>
                                                </tr>
                                    </tbody>
                                </table>
                                <!-- Payment Method -->
                                <div class="border p-3 mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="cashOnDelivery"
                                            name="payment_method" value="cash_on_delivery">
                                        <label class="form-check-label h6 mb-0" for="cashOnDelivery">Cash on
                                            Delivery</label>
                                    </div>
                                </div>
                                <div class="border p-3 mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="razorPay" name="payment_method"
                                            value="razorpay">
                                        <label class="form-check-label h6 mb-0" for="razorPay">Online payment</label>
                                    </div>
                                </div>
                                <div class="border p-3 mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="wallet" name="payment_method"
                                            value="wallet">
                                        <label class="form-check-label h6 mb-0" for="razorPay">Wallet</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-black btn-lg py-3 btn-block" type="submit">Place
                                        Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressModalLabel">Enter Your Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="addressForm" method="post" onsubmit="saveNewAddress(event); return false;">
                        <div class="col-md-12 mb-5 mb-md-0">
                            <div class="p-3 p-lg-5 border bg-white">
                                <!-- Address Type -->
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="addressType" class="text-black">Address Type <span
                                                class="text-danger">*</span></label>
                                        <select class="form-control" id="addressType" name="addressType" required>
                                            <option value="Home">Home</option>
                                            <option value="Office">Office</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- First Name and Last Name -->
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="fname" class="text-black">First Name <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="fname" name="firstName" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="lname" class="text-black">Last Name <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="lname" name="lastName" required>
                                    </div>
                                </div>

                                <!-- Address -->
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label for="address" class="text-black">Address <span
                                                    class="text-danger">*</span></label>
                                            <textarea class="form-control" name="addressDetail" id="address" rows="3"
                                                required></textarea>
                                        </div>
                                    </div>
                                </div>

                                <!-- Landmark -->
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="landmark" class="text-black">Landmark<span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="landmark" name="landmark" required>
                                    </div>
                                </div>

                                <!-- City -->
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="city" class="text-black">City<span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="city" name="city" required>
                                    </div>
                                </div>

                                <!-- State and Zip Code -->
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="stateIn" class="text-black">State <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="stateIn" name="state" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="zip" class="text-black">Postal / Zip <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="zip" name="zip" required>
                                    </div>
                                </div>

                                <!-- Phone Number and Alternate Phone -->
                                <div class="form-group row mb-5">
                                    <div class="col-md-6">
                                        <label for="phone" class="text-black">Phone <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="phone" name="phone" required
                                            placeholder="Phone Number">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="altPhone" class="text-black">Alternate Phone (Optional)</label>
                                        <input type="text" class="form-control" id="altPhone" name="altPhone"
                                            placeholder="Alternate Phone Number">
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include("../partials/user/footer") %>
        <script src="/js/user/checkout.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
