<%- include("../partials/user/header")%>
<form id="editAddressForm" data-address-id="<%= address.id %>" style="display: flex; justify-content: center;" method="post">
    <div class="col-md-6 mb-5 mb-md-0">
      <div class="p-3 p-lg-5 border bg-white" style="margin-top: 70px;">
        <h1 style="text-align: center; margin-bottom: 10px; text-decoration: underline;">Edit your Details</h1>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="fname" class="text-black">First Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="fname" name="firstName" value="<%= address.address[0].name.split(' ')[0] %>" required>
          </div>
          <div class="col-md-6">
            <label for="lname" class="text-black">Last Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="lname" name="lastName" value="<%= address.address[0].name.split(' ')[1] || '' %>" required>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <label for="landmark" class="text-black">Landmark <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="landmark" name="landmark" value="<%= address.address[0].landMark %>" required>
          </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
              <div class="mb-3">
                <label for="address" class="text-black">Address <span class="text-danger">*</span></label>
                <textarea class="form-control" name="addressDetail" id="address" rows="3" required><%= address.address[0].addressDetail || '' %></textarea>
              </div>
            </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <label for="city" class="text-black">City<span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="city" name="city" value="<%=address.address[0].city%>" required>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="state" class="text-black">State <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="stateIn" name="state" value="<%= address.address[0].state %>" required>
          </div>
          <div class="col-md-6">
            <label for="zip" class="text-black">Postal / Zip <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="zip" name="zip" value="<%= address.address[0].pincode %>" required>
          </div>
        </div>
        <div class="form-group row mb-5">
          <div class="col-md-6">
            <label for="phone" class="text-black">Phone <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="phone" name="phone" value="<%= address.address[0].phone %>" required placeholder="Phone Number">
          </div>
          <div class="col-md-6">
            <label for="altPhone" class="text-black">Alternate Phone (Optional)</label>
            <input type="text" class="form-control" id="altPhone" name="altPhone" value="<%= address.address[0].altPhone %>" placeholder="Alternate Phone Number">
          </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </form>
  <%- include("../partials/user/footer") %>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/user/edit-address.js"></script>



