<%- include("../partials/user/header") %>
  <link rel="stylesheet" href="/css/user/profile.css">
  <main class="main">
    <section class="pt-10 pb-10">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 m-auto">
            <div class="row">
              <div class="col-md-4">
                <div class="dashboard-menu">
                  <ul class="nav flex-column" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab"
                        aria-controls="dashboard" aria-selected="false">
                        <i class="fi-rs-settings-sliders mr-10"></i>Dashboard
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab"
                        aria-controls="address" aria-selected="true">
                        <i class="fi-rs-marker mr-10"></i>My Address
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab"
                        aria-controls="orders" aria-selected="false">
                        <i class="fi-rs-shopping-bag mr-10"></i>Orders
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#wallet" role="tab"
                        aria-controls="track-orders" aria-selected="false">
                        <i class="fi-rs-shopping-cart-check mr-10"></i>Wallet History
                      </a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#wallet-history" role="tab"
                        aria-controls="track-orders" aria-selected="false">
                        <i class="fi-rs-shopping-cart-check mr-10"></i>Wallet
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#referal" role="tab"
                        aria-controls="track-orders" aria-selected="false">
                        <i class="fi-rs-shopping-cart-check mr-10"></i>Referals
                      </a> -->
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/logout">
                        <i class="fi-rs-sign-out mr-10"></i>Logout
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-md-8">
                <div class="tab-content dashboard-content">
                  <!-- Dashboard -->
                  <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                    <div class="card card-green">
                      <div class="card-header">
                        <h5 class="mb-0 text-center">User Profile</h5>
                      </div>
                      <div class="card-body text-center">
                        <h5 class="card-title">
                          <%= user.name %>
                            <a href="/edit-profile" class="edit-icon" title="Edit Username">
                              <i class="fas fa-pencil-alt"></i>
                            </a>
                        </h5>
                        <p class="card-text"><strong>Phone:</strong>
                          <%= user.phone %>
                        </p>
                        <p class="card-text"><strong>Email:</strong>
                          <%= user.email %>
                        </p>
                        <% if(!user.googleId) { %>
                          <a href="/change-email" class="btn btn-sm btn-success ml-2">Change Email</a>
                          <a href="/change-password" class="btn btn-sm btn-success">Change Password</a>
                          <% } %>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                    <div class="row">
                      <% if (addresses.length> 0) { %>
                        <% addresses.forEach(address=> { %>
                          <div class="col-lg-6">
                            <div class="card mb-3 mb-lg-0">
                              <div class="card-header">
                                <h5 class="mb-0">Address</h5>
                              </div>
                              <div class="card-body">
                                <address>
                                  <strong>
                                    <%= address.address[0].name%>
                                  </strong><br> <!-- Adjust to access the name -->
                                  <%= address.address[0].addressDetail || '' %><br>
                                    <%= address.address[0].landMark %>
                                      ,<%= address.address[0].state %>
                                        <%= address.address[0].pincode %><br>
                                          <strong>Phone:</strong>
                                          <%= address.address[0].phone %><br>
                                            <% if (address.address[0].altPhone) { %>
                                              <strong>Alternate Phone:</strong>
                                              <%= address.address[0].altPhone %><br>
                                                <% } %>
                                </address>
                                <div class="d-flex justify-content-between">
                                  <a href="/editAddress/<%= address._id %>" class="btn-small">Edit</a>
                                  <a href="#" class="btn-small"
                                    onclick="deleteAddress('<%= address._id %>'); return false;">Delete</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% }) %>
                            <% } else { %>
                              <div class="col-lg-6">
                                <div class="card mb-3 mb-lg-0">
                                  <div class="card-header">
                                    <h5 class="mb-0">No Addresses Found</h5>
                                  </div>
                                  <div class="card-body">
                                    <p>No addresses available. Please add your address.</p>
                                  </div>
                                </div>
                              </div>
                              <% } %>
                                <div>
                                  <a href="/addAddress">
                                    <button class="btn btn-primary w-70">Add address</button>
                                  </a>
                                </div>
                    </div>
                  </div>
                  <!-- Orders -->
                  <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="mb-0">Your Orders</h5>
                      </div>
                      <div class="card-body orders-container" style="max-height: 400px; overflow-y: auto;">
                        <div class="table-responsive">
                          <table class="table">
                            <thead style="position: sticky; top: 0; background-color: #ffffff; z-index: 1;">
                              <tr>
                                <th>Order</th>
                                <th>Status</th>
                                <th>Payment</th>
                                <th>Total</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% if (orders && orders.length> 0) { %>
                                <% orders.reverse().forEach(order=> { %>
                                  <tr class="order-card">
                                    <td>
                                      <%= order.orderId %>
                                    </td>
                                    <td>
                                      <%= order.status %>
                                    </td>
                                    <td>
                                      <%= order.paymentMethod %>
                                    </td>
                                    <td>₹<%= order.finalAmount %>
                                    </td>
                                    <td>
                                      <!-- Order Action Section -->
                                      <div class="order-action">
                                        <% if (order.status==='Payment Pending' ) { %>
                                          <button class="btn-small" data-order-id="<%= order.orderId %>"
                                            onclick="retryPayment('<%= order._id %>')">Retry Payment</button>
                                          <% } else if (order.status==='Processing' || order.status==='Paid' ) { %>
                                            <button class="btn-small"
                                              onclick="confirmCancelOrder(event,'<%= order._id %>')">Cancel</button>
                                            <% } else if (order.status==='Shipped' ) { %>
                                              <button class="btn-small"
                                                onclick="confirmCancelOrder(event,'<%= order._id %>')">Cancel</button>
                                              <% } else if (order.status==='Delivered' ) { %>
                                                <% const currentDate=new Date(); const deliveredDate=new
                                                  Date(order.statusDates.Delivered); const timeDifference=(currentDate -
                                                  deliveredDate) / (1000 * 3600 * 24); %>
                                                  <% if (timeDifference <=7) { %>
                                                    <button class="btn-small"
                                                      onclick="confirmReturnOrder(event,'<%= order._id %>')">Return</button>
                                                    <% } else { %>
                                                      <span class="text-muted">Return Period Expired</span>
                                                      <% } %>
                                                        <% } else if (order.status==='Canceled' ) { %>
                                                          <span class="text-muted">Order Canceled</span>
                                                          <% } else if (order.status==='Returned' ) { %>
                                                            <span class="text-muted">Order Returned</span>
                                                            <% } else { %>
                                                              <span class="text-muted">Cannot cancel</span>
                                                              <% } %>
                                      </div>
                                      <!-- "View" button to see order details -->
                                      <a href="/order/<%= order._id %>" class="btn-small"
                                        style="text-decoration: none;">View</a>
                                    </td>
                                  </tr>
                                  <% }) %>
                                    <% } else { %>
                                      <tr>
                                        <td colspan="5">No orders found.</td>
                                      </tr>
                                      <% } %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>


                  <!-- Wallet History Section -->
                  <div class="tab-pane fade" id="wallet" role="tabpanel" aria-labelledby="wallet-tab">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="mb-0">Your Wallet</h5>
                      </div>
                      <div class="card-body wallet-container" style="max-height: 400px; overflow-y: auto;">
                        <!-- Display the available wallet balance -->
                        <div class="wallet-balance mb-3">
                          <h5>Available Balance: ₹<%= walletBalance.toFixed(2) %>
                          </h5>
                        </div>

                        <div class="table-responsive">
                          <table class="table">
                            <thead style="position: sticky; top: 0; background-color: #ffffff; z-index: 1;">
                              <tr>
                                <th>Transaction ID</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Date & Time</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% if (walletHistory && walletHistory.length> 0) { %>
                                <% walletHistory.forEach(transaction=> { %>
                                  <tr class="transaction-card">
                                    <td>
                                      <%= transaction._id %>
                                    </td>
                                    <td>
                                      <% if (transaction.transactionType==='cancel' ) { %>
                                        Order Cancelled
                                        <% } else if (transaction.transactionType==='return' ) { %>
                                          Order Returned
                                          <% } else if (transaction.transactionType==='wallet-order' ) { %>
                                            Order Payment
                                            <% } else { %>
                                              Other
                                              <% } %>
                                    </td>
                                    <td>₹<%= transaction.amount.toFixed(2) %>
                                    </td>
                                    <td>
                                      <%= new Date(transaction.createdAt).toLocaleString() %>
                                    </td>
                                    <td>
                                      <% if (transaction.status==='Completed' ) { %>
                                        <span class="text-primary">Completed</span>
                                        <% } else if (transaction.status==='Failed' ) { %>
                                          <span class="text-danger">Failed</span>
                                          <% } else { %>
                                            <span class="text-muted">Pending</span>
                                            <% } %>
                                    </td>
                                  </tr>
                                  <% }) %>
                                    <% } else { %>
                                      <tr>
                                        <td colspan="5" class="text-center">
                                          <p class="mt-3 mb-3 text-muted">No transactions found in your wallet.</p>
                                        </td>
                                      </tr>
                                      <% } %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Add a popup modal for payment options -->
                  <div id="paymentOptionsPopup" class="modal fade" tabindex="-1" aria-hidden="true">
                    <form id="orderForm" action="/retryPayment/:orderId" method="POST">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Choose Payment Method</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <!-- Payment Method Options -->
                            <div class="payment-option mb-3">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" id="cashOnDelivery" name="payment_method"
                                  value="cash_on_delivery">
                                <label class="form-check-label" for="cashOnDelivery">
                                  <span class="payment-label">Cash on Delivery</span>
                                </label>
                              </div>
                            </div>

                            <div class="payment-option mb-3">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" id="razorPay" name="payment_method"
                                  value="razorpay">
                                <label class="form-check-label" for="razorPay">
                                  <span class="payment-label">Online Payment (Razorpay)</span>
                                </label>
                              </div>
                            </div>

                            <div class="payment-option mb-3">
                              <div class="form-check">
                                <input class="form-check-input" type="radio" id="wallet" name="payment_method"
                                  value="wallet">
                                <label class="form-check-label" for="wallet">
                                  <span class="payment-label">Wallet</span>
                                </label>
                              </div>
                            </div>

                            <!-- Place Order Button -->
                            <div class="form-group">
                              <button class="btn btn-dark btn-lg w-100" type="submit">Place Order</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>














                  <!-- Other Tabs (Wallet, History, Referral) -->
                  <!-- Similar to the above example -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include("../partials/user/footer") %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/js/user/profile.js"></script>
    